<h2>New Celebrity</h2>
<form method="POST" action="/movies/create">
<label for="cars">Choose cast:</label>

      <select name="" id="" multiple>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
      
  </form>

  